<h1>About This Blog</h1>
<p>
This site is the result and the documentation for my explorations of new things I'm learning and old things I've re-learnt.
Im trying out a bunch of tech to help me keep up to date at work, but also just for fun.
</p>
<p>
As this site iterates I will provide the code from time to time via Github.
</p>
<h4>Iterations</h4>
<ul>
<li>V1 - a pure static site hosted on an S3 bucket. <a href="https://github.com/Jonesie/staticweb" target="_blank">Code Here</a>.  This gave me the base AWS setup including terrform and shell scripts for deployment.  This is documented <a [routerLink]="['/0']">here</a></li>
<li>V2 - still hosted in S3, but now using Angular 4 for some front end loving. <a href="https://github.com/Jonesie/ngserverlessweb" target="_blank">Code here</a>. <a [routerLink]="['/1']">Documentation here.</a> </li>
<li>V3 - probably move this site to Git Pages - coz it's free :)</li>
</ul>
<h1>About Me</h1>
My name is Peter Jones and I live in Wellington, New Zealand - <a href="http://www.stuff.co.nz/dominion-post/news/92210672/wellington-beats-edinburgh-melbourne-as-best-place-to-live" target="_blank">the best city in the world!</a>
I work for a global tech company where I'm a developer, mostly working on backend services using .Net on AWS.

<h1>Feedback</h1>
<p>Until I add a feedback feature to this web site you will just have to use telepathy.</p>
