<div class="row">
  <table style="margin-left:20px;margin-top:20px">
    <tr>
      <td style="vertical-align:top">
        <div class="well text-center">
          <comp-kiwiana></comp-kiwiana>
        </div>
      </td>
      <td style="vertical-align:top">
        <div class='container'>
          <h3>Recent Blog Posts</h3>
          <comp-blogsummary></comp-blogsummary>
        </div>
      </td>
    </tr>
  </table>

  <!--<div class="col-sm-4 col-md-4">
    <div class="sidebar-nav-fixed affix" style="margin-top:30px">
      <div class="well text-center">
        <comp-kiwiana></comp-kiwiana>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-2 main">
    <div class='container'>
      <h3>Recent Blog Posts</h3>
      <comp-blogsummary></comp-blogsummary>


      <h3>Recent Images</h3>
    </div>
  </div>-->
</div>
