<div class="row" *ngIf="currentPost">

  <table style="margin-left:20px;margin-top:20px;">
    <tr>
      <td style="vertical-align:top">
        <div class="well">
          <comp-index [activePost]="currentPost"></comp-index>
        </div>
        <div class="well text-center">
          <comp-kiwiana></comp-kiwiana>
        </div>
      </td>
      <td style="vertical-align:top">
        <div class='container'>
          <h1>{{currentPost.title}}</h1>
          <h4>by {{currentPost.author}} - {{currentPost.created}}</h4>
          <br/>
          <div [innerHtml]='currentPost.body'></div>
        </div>
      </td>
    </tr>
  </table>


  <!--<div class="col-sm-4 col-md-4">
    <div class="sidebar-nav-fixed affix" style="margin-top:30px">
      <div class="well">
        <comp-index [activePost]="currentPost"></comp-index>
      </div>
      <div class="well text-center">
        <comp-kiwiana></comp-kiwiana>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-2">
    <div class='container'>
      <h1>{{currentPost.title}}</h1>
      <h4>by {{currentPost.author}} - {{currentPost.created}}</h4>
      <br/>
      <div [innerHtml]='currentPost.body'></div>
    </div>
  </div>-->
</div>
